st login: Mon Mar  6 19:54:34 on console
➜  ~ ls
Applications        Documents           Library             Music               Public              libin
Desktop             Downloads           Movies              Pictures            android—workspace   tmp
➜  ~ cd android—workspace/ls
cd: no such file or directory: android—workspace/ls
➜  ~ ls -a
.                                   .emulator_console_auth_token        .viminfo
..                                  .git_                               .zcompdump-豆豆的MacBook Pro-5.2
.AndroidStudio1.5                   .gitconfig                          .zsh-update
.AndroidStudioPreview2.0            .gitignore_global                   .zsh_history
.CFUserTextEncoding                 .gradle                             .zshrc
.DS_Store                           .hgignore_global                    Applications
.Genymobile                         .local                              Desktop
.Trash                              .m2                                 Documents
.Xauthority                         .oh-my-zsh                          Downloads
.android                            .oracle_jre_usage                   Library
.atlassian                          .p2                                 Movies
.atom                               .repo_.gitconfig.json               Music
.bash_history                       .repoconfig                         Pictures


.externalNativeBuild
.bash_profile                       .repopickle_.gitconfig              Public
.bash_sessions                      .rnd                                android—workspace
.cache                              .ssh                                libin
























*.iml
.gradle
.config                             .subversion                         tmp






















.ecarx                              .test.js.swp
.eclipse                            .tooling
➜  ~ ls
Applications        Documents           Library             Music               Public              libin
Desktop             Downloads           Movies              Pictures            android—workspace   tmp
➜  ~ cd android—workspace/l
cd: no such file or directory: android—workspace/l
➜  ~ ls
Applications        Documents           Library             Music               Public              libin
Desktop             Downloads           Movies              Pictures            android—workspace   tmp























➜  ~ cd android—workspace/l







cd: no such file or directory: android—workspace/l
➜  ~ ls
Applications        Documents           Library             Music               Public              libin
Desktop             Downloads           Movies              Pictures            android—w
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
orkspace   tmp
➜  ~ cd android—workspace
➜  android—workspace ls
DesignModule                         factoryDemo                          remusic-master
TextSwitcher                         mvp                                  soundioip
aidl                                 performance                          weichartRomMoney
android-architecture-todo-mvp-dagger recyclerview
➜  android—workspace mkdir usual_demo
➜  android—workspace ls
DesignModule                         factoryDemo                          remusic-master
TextSwitcher                         mvp
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
.DS_Store
/build
/captures
.externalNativeBuild
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
/build
lt application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated files
bin/
gen/

# Local configuration file (sdk path, etc)
local.properties

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Eclipse project files
.classpath
.project

# Android Studio
.idea/
*.iml

#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/

*build/
.gradle/.externalNativeBuild
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~

